.decks-index-container {
  column-count: 3; 
  column-gap: 20px; 
}

.decks-index-container > div {
  break-inside: avoid; 
}

.card-decks-container {
  border: 1px solid #ccc; 
  margin-bottom: 20px; 
}
