.home, .app {
  background: linear-gradient(to right, #f0f0f0, #787575);
  
  text-align: center;
}

.home h1 {
  font-size: 5em;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 1px black;
  color: #333;
  padding-top: 0px;
  padding-bottom: 0px;
}
